{% if include.category %}
  {% assign posts = site.categories[include.category] %}  
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% if include.limit and posts.size > include.limit %}
  {% assign limit_exceeded = true %}
{% else %}
  {% assign limit_exceeded = false %}
{% endif %}

{%- if posts.size > 0 -%}

{%- for post in posts limit: include.limit -%}
<div class="post-list-item">
  <p>
    {% assign post_idx = posts.size | minus: forloop.index | plus: 1 %}
    {% assign post_idx_padded = post_idx | prepend: '00' | slice: -3, 3 %}
    {{ post_idx_padded }} | {{ post.date | date: site.theme_config.date_format}}
    <br>
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>

    {% assign slides_path = "/assets/slides/thumb/" | append: post_idx_padded %}
    {% assign slide_images = site.static_files | where: "slide", true %}
    <div>
      <a href="{{ post.url | relative_url }}" class="slide-thumbnail-container">
      {% for img in slide_images %}
        {% if img.path contains slides_path %}
        {% assign img_path = img.path | relative_url %}
        
          <img class="slide-thumbnail" src="{{ img_path }}">
        
        {% endif %}
      {% endfor %}
      </a>
    </div>

  </p>
</div>
{%- endfor -%}

{%- endif -%}