{% if include.category %}
  {% assign posts = site.categories[include.category] %}  
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% if include.limit and posts.size > include.limit %}
  {% assign limit_exceeded = true %}
{% else %}
  {% assign limit_exceeded = false %}
{% endif %}

{%- if posts.size > 0 -%}

{%- for post in posts limit: include.limit -%}
<div class="post-list-item">
  <p>
    {% assign post_idx = posts.size | minus: forloop.index | plus: 1 %}
    {{ post_idx | prepend: '00' | slice: -3, 3 }} | {{ post.date | date: site.theme_config.date_format}}
    <br>
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
  </p>
</div>
{%- endfor -%}

{%- endif -%}